SMAI Dataset (wav)/
SMAI Dataset (wav) - Augmented/
demo/
Main/
approach1_whisper_finetuned/
# LaTeX files and auxiliary outputs
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.eps
*.ilg
*.ind
*.idx
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.run.xml
*.bcf
*.blx.bib
